@{
    ViewData["Title"] = "Contact";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    100 York Boulevard, Suite 400<br />
    Richmond Hill, ON L4B1J8<br />
    <abbr title="Phone">P:</abbr>
    855.996.9977
    <strong>Email:</strong> support@example.com
</address>

<small>
    Contact Information last updated: @DateTime.Now
</small>